<% if local_assigns[:errors].present? %>
  <div class="alert alert-danger">
    <h6 class="fw-bold mb-1">Por favor, corrija os erros abaixo:</h6>
    <ul class="mb-0">
      <% errors.each do |field, messages| %>
        <% Array(messages).each do |msg| %>
          <li><strong><%= field.to_s.humanize %>:</strong> <%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
