<% flash.each do |type, message| %>
  <% css_class = type.to_s == "alert" ? "danger" : (type.to_s == "notice" ? "success" : type.to_s) %>
  <div class="alert alert-<%= css_class %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
