<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <div class="sidebar-brand">
    <a href="<%= root_path %>" class="brand-link">
      <span class="brand-text fw-bold"><b>Pay</b>loop</span>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">
        <% navigation_items.each do |item| %>
          <li class="nav-item">
            <%= link_to item[:path], class: "nav-link #{item[:active] ? 'active' : ''}" do %>
              <i class="nav-icon fa <%= item[:icon] %>"></i>
              <p><%= item[:label] %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
